body {
	margin: 0;
	font-family: 'Signika', sans-serif;

}

header{
	background-color: #4d7292;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{
	font-family: 'Signika', sans-serif;
	font-size: 30px;
}

h2{
	font-family: 'Signika', sans-serif;
	font-size: 25px;
	color: #1d3557;
}

header h1{
	color: white;
	font-size: 60px;
}

main h1{
	color: #1d3557;
}

main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 150px 20px 150px 20px;
}


main img{
	max-width: 100%;
	border-radius: 40px;
    width: 240px;
    border: 0px solid #abc7d6;
}

p{
	font-size: 20px;
}

a{
	color: #4d7292;
	font-size: 20px;
	text-align: center;
}
a:hover{
	color: #dc2836;
}

footer{
	background-color: #4d7292;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
	padding: 0 20px 20px 20px;
	font-size: 15px;
}

.container {
  display: flex;
}

img {
  max-width: 100%
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 20px;
  padding-left: 40px;
}
